body{
font-family: "Roboto", sans-serif;
color: #434455;
}

.root{
--color-log:#4d5ae5;
--color: #2e2f42;
}

.link{
text-decoration: none;
}
.list {
list-style: none;
}

.menu {
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--colorText);
}
.logo-stl{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-log);
}

.color{
color: var(--color);
}
.ul{
list-style: none;
}

.color-cheng:hover,
.color-cheng:focus{
color: #404bbf;
}
.addr-font{
font-style: normal;
}

.font-cont {
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.col-spn{
color: #2e2f42;
}


/* Hero */
.font {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--colorText);
}

.sectiones {
    background-color: var(--color);
}
.sect{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.pointer{
    cursor: pointer;
}
.bnutton{
letter-spacing: 0.04em;
color: #ffffff;
}

/* Sectiones 1 */
.tittle-privilage{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color);
}

/* Sectiones 2-3 */

.font-text{
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color);
}

/* Footer */

.footer{
background-color: #2e2f42;

}

.color-spn-footer{
color: #f4f4fd;
}