body{
font-family: "Roboto", sans-serif;
color: var(--text);
}
/* * {
    margin: 0;
    padding: 0;
} */

p,h1,h2,h3,h4,h5,h6{
margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

:root{
--font-text:#2e2f42;
--text:#434455;
--color: #4d5ae5;
--hov-btn: #404bbf;
--white-col: #ffffff;
--ft-col: #f4f4fd;
--color-tex: #E7E9FC;

--card-set-gap: 20px;

}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* Header */
.web-top{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color)
}
.studio-top{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--font-text);     
}

.header-nav{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--font-text);
}

.header-addr{
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

.font{
font-style: normal
}

/* =================Hero =========================*/
.hero{
background-color: var(--font-text);
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
    text-align: center;
}
.hero-tittle{
font-family: 'Roboto', sans-serif;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--white-col);
max-width: 496px;
margin-left: auto;
margin-right: auto;
padding-bottom: 48px;
}

.hero-btn{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-col);
cursor: pointer;
background: var(--color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
padding: 16px 32px 16px;
border-radius: 4px;

}

.hover-btn:hover{
    background-color: var(--hov-btn);
    color: var(--white-col);
}
.hover-nav:hover,
.hover-nav:focus{
color: var(--hov-btn);
}

.nav-btn{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
color: var(--color);
padding: 12px 24px 12px;
}
/* Sections  */
.feature-text {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

.semple-text {
font-family: 'Roboto', sans-serif;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--font-text);
padding-bottom: 72px;
}

.feature-subtitle{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--font-text);

}
.cards-subtext{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
margin-top: 8px;
width: 264px;
}

.cards-text{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}


/* Footer */
.foot-text{
font-family: 'Roboto',sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-tex);
height: 72px;
margin-top: 16px;
}
.back-foot{
    background-color:var(--font-text);
    height: 310px;
    padding-top: 100px;
   padding-bottom: 100px;
}
.foot-clt{
    color: var(--ft-col);
}
.studio-top-footer {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--ft-col);
}

/* ======================hw-3======================================== */

img {
    display: block;
}


.box{
    width: 1128px;
    margin-top: 0px;
    /* height: 48px; */
    /* padding-right: 15px; */
    margin: 0 auto;
}

.box1{
    width: 1128px;
    margin-top: 288px;
    /* margin: 0 auto; */
    margin-top: 72px;
}

.container{
    width: 1128px;
    padding-right: 15px;
    margin: 0 auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-2{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-3{
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list{
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}


/* ======================Header=============== */
.line{
    border-bottom: 1px solid #E7E9FC;
    
}
.header-navigation{
display: flex;
align-items: center;
/* justify-content: space-between; */
margin-right: auto;
}

.site-nav{
    display: flex;
    gap: 40px;
}

/* Цей код нижче заминяє "gap" який знах. вище */
/* .header-conteiner {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.studio-top {
    margin-right: 76px;
} */

.header-conteiner {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}
.studio-top{
    margin-right: 76px;
}




/* ==================Sections============== */
.card-itm {
    text-align: center;
    
}


.gallery-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding-bottom: 120px;
}

.gallery-list li{
    width: calc((100% - 60px) / 3);
    width: 360px;
}

.subcard-item{
    padding-top: 32px;
    padding-bottom: 32px;
}

.item-card{
    border: 1px solid #E7E9FC;

}
/* ======================Footer=============== */
.box-footer{
    width: 264px;
    height: 110px;
    margin-left: 156px;
}

