body{
font-family: "Roboto", sans-serif;
color: var(--text);
}
:root{
--font-text:#2e2f42;
--text:#434455;
--color: #4d5ae5;
--hov-btn: #404bbf;
--white-col: #ffffff;
--ft-col: #f4f4fd;
--color-tex: #E7E9FC;

--card-set-gap: 20px;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}

/* Header */
.web-top{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color)
}
.studio-top{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--font-text);     
}

.header-nav{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--font-text);
}

.header-addr{
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

.font{
font-style: normal
}

/* Hero */
.hero{
background-color: var(--font-text);
}
.hero-tittle{
font-family: 'Roboto', sans-serif;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-col);
}

.hero-btn{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white-col);
cursor: pointer;
background: var(--color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.hover-btn:hover{
    background-color: var(--hov-btn);
    color: var(--white-col);
}
.hover-nav:hover,
.hover-nav:focus{
color: var(--hov-btn);
}

.nav-btn{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
color: var(--color);
}
/* Sections  */
.feature-text {
font-family: 'Roboto', sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

.semple-text {
font-family: 'Roboto', sans-serif;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--font-text);
}
.feature-subtitle{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--font-text);
}
.cards-subtext{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--text);
}

/* Footer */
.foot-text{
font-family: 'Roboto',sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-tex);
}
.back-foot{
    background-color:var(--font-text);
}
.foot-clt{
    color: var(--ft-col);
}
.studio-top-footer {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--ft-col);
}

/* ========================================hw-3======================================== */
.container-header{
    width: 1440px;
    height: 72px;
}  

.auth-nav{
    display: flex;
    margin-left: auto; 
}
.site-nav{
    display: flex;
    margin-left: 76px;
}
.site-nav .item:not(:last-child){
    margin-right: 40px;
}
.site-nav .link{
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
}

.auth-nav .item + .item{
    margin-left: 40px;
}

.main-nav{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* margin-left: 165px; */
}
.web-top{
    margin-left: 165px;
}
/* ========================Sections 1================================== */

.feature-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-list .item{
    width: 264px;
    margin-right: 24px;
}

.feature-list .item:not(:last-child){
    margin-right: 24px;
    }

 .feature-list .item-btn{
    margin-right: 24px;
 }



img {
    display: block;
    max-width: 100%;
}

 .card-set {
     display: flex;
     padding: 0;
     margin: 0;
     list-style: none;
     flex-wrap: wrap;

     margin-top: calc(-1 * --card-set-gap);
     margin-left: calc(-1 * --card-set-gap);
 }

 .card-set > .item-card {
     flex-basis: calc(100% / 3 - var(--card-set-gap));
     margin-left: var(--card-set-gap);
     margin-top: var(--card-set-gap);

 }

 .card-content {
     padding: 10px;
 }

 .container-card{
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
 }



 .card-shadow {
     box-shadow: var(--card-shadow);
     border-radius: 15px;
     overflow: hidden;
 }
 .card-item{
padding: 24px;
 }