body {
    list-style: var(--color-body);
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color: #4D5AE5;
    --colorText: #2E2F42;
    --color-hover: #404bbf
    --color-body: #434455;
    
}
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.font {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--colorText);
}

.font-cont {
font-family: 'Roboto' sans-serif;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.font-text {
font-family: 'Roboto' sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--colorText);
}

.ch-color:hover,
.ch-color:focus {
background-color: var(--color);
    
}

.color:hover,
.color:focus{
color: var(--color-hover);
}

.pointer {
cursor: pointer;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color);
text-decoration: none;
}

.logo-col{
color: var(--colorText);
}
.menu{
list-style: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--colorText);
}

.menu-btn{
text-decoration: none;
}

.cursv{
font-style: normal;
}

.sectiones{
background-color: var(--colorText);
}